.leaveReviewIcon {
    composes: mapButtonIcon from './MapButtons.module.css';
    --icon-background-image: url('@images/button_icons/review_heart.svg');
    --icon-background-size: 21px;
}

.hidden {
    display: none;
}

.supportContentContainer {
    composes: mapContentContainer from './MapButtons.module.css';
}

.supportHeaderContainer {
    composes: mapButtonHeaderContainer from './MapButtons.module.css';
}

.supportHeader {
    composes: mapButtonHeader from './MapButtons.module.css';
}

.closeIcon {
    composes: closeIcon from './MapButtons.module.css';
}

.supportItemsContainer {
    composes: mapButtonItemsContainer from './MapButtons.module.css';
}

.supportItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.supportItem p {
    font-size: var(--map-small-body-font-size);
}

.supportItemsContainer .supportItem:first-of-type {
  padding-top: 0.25rem;
}

.supportItemsContainer .supportItem + .supportItem {
    border-top: 1px solid rgba(0,0,0,0.12);
    margin-top: 0; /* keep spacing controlled by padding */
}

.supportItem:last-of-type {
    padding-bottom: 0;
}