body {
  margin: 0;
  padding: 0;
}

#app-page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
}

#app-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#map-container {
  position: relative;
  flex: 1;
  display: flex;
}

#earth-ranger-logo {
  position: absolute;
  padding: 10px 15px 10px 15px;
  top: 0;
  z-index: 1;
}

#earth-ranger-logo:hover {
  cursor: pointer;
}

#reset {
  z-index: 1;
  top: 90px;
  left: 10px;
  position: absolute;
  color: white;
}

#reset:hover {
  cursor: pointer;
}

@media screen {
  .mapboxgl-ctrl-attrib.mapboxgl-compact-show .mapboxgl-ctrl-attrib-button {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  margin-bottom: 6px;
}

a.mapboxgl-ctrl-logo.mapboxgl-compact {
  width: 4.58vw !important;
}