body {
    margin: 0;
    padding: 0;
}

#app-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

#map-container {
    position: relative;
    flex: 1;
    display: flex;
}

.mapboxgl-map {
    font: 500 14px Rajdhani,Arial,sans-serif
}

#earth-ranger-logo {
    position: absolute;
    padding: 10px 15px 10px 15px;
    top: 0;
    z-index: 1;
}

#earth-ranger-logo:hover {
    cursor: pointer;
}

#reset {
    z-index: 1;
    top: 90px;
    left: 10px;
    position: absolute;
    color: white;
}

#reset:hover {
    cursor: pointer;
}

@media screen {
    .mapboxgl-ctrl-attrib.mapboxgl-compact-show .mapboxgl-ctrl-attrib-button {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.mapboxgl-ctrl-group button {
    width: 2.25rem;
    height: 2.25rem;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    margin-bottom: 6px;
}

a.mapboxgl-ctrl-logo.mapboxgl-compact {
    width: 4.58vw !important;
}

/* Popup Styling */
.mapboxgl-popup {
    max-width: 100% !important;
}

/* Custom popup anchors */

.mapboxgl-popup-tip {
    display: none;
}

.mapboxgl-popup-anchor-bottom-left::before,
.mapboxgl-popup-anchor-bottom::before,
.mapboxgl-popup-anchor-bottom-right::before,
.mapboxgl-popup-anchor-bottom-left::after,
.mapboxgl-popup-anchor-bottom::after,
.mapboxgl-popup-anchor-bottom-right::after,
.mapboxgl-popup-anchor-top-left::before,
.mapboxgl-popup-anchor-top::before,
.mapboxgl-popup-anchor-top-right::before,
.mapboxgl-popup-anchor-top-left::after,
.mapboxgl-popup-anchor-top::after,
.mapboxgl-popup-anchor-top-right::after {
    content: "";
    display: block;
    width: 2rem;
    height: 1rem;
    position: absolute;
    margin: auto;
    z-index: -1;
}

.mapboxgl-popup-anchor-bottom-left::before,
.mapboxgl-popup-anchor-bottom::before,
.mapboxgl-popup-anchor-bottom-right::before,
.mapboxgl-popup-anchor-bottom-left::after,
.mapboxgl-popup-anchor-bottom::after,
.mapboxgl-popup-anchor-bottom-right::after {
    bottom: 2px;
}

.mapboxgl-popup-anchor-top-left::before,
.mapboxgl-popup-anchor-top::before,
.mapboxgl-popup-anchor-top-right::before,
.mapboxgl-popup-anchor-top-left::after,
.mapboxgl-popup-anchor-top::after,
.mapboxgl-popup-anchor-top-right::after {
    bottom: 100%;
    transform: rotate(180deg);
}

.mapboxgl-popup-anchor-bottom-left::before,
.mapboxgl-popup-anchor-bottom::before,
.mapboxgl-popup-anchor-bottom-right::before,
.mapboxgl-popup-anchor-top-left::before,
.mapboxgl-popup-anchor-top::before,
.mapboxgl-popup-anchor-top-right::before {
  background: var(--map-popup-border-color);
  filter: brightness(1.25);
  clip-path: polygon(100% 0, 100% 0, 50% 100%, 0 0);
}

.mapboxgl-popup-anchor-bottom-left::before,
.mapboxgl-popup-anchor-bottom-left::after,
.mapboxgl-popup-anchor-top-left::before,
.mapboxgl-popup-anchor-top-left::after {
  left: 0.75rem;
}

.mapboxgl-popup-anchor-bottom::before,
.mapboxgl-popup-anchor-bottom::after,
.mapboxgl-popup-anchor-top::before,
.mapboxgl-popup-anchor-top::after {
  left: 0;
  right: 0;
}

.mapboxgl-popup-anchor-bottom-right::before,
.mapboxgl-popup-anchor-bottom-right::after,
.mapboxgl-popup-anchor-top-right::before,
.mapboxgl-popup-anchor-top-right::after {
  right: 0.75rem;
}

.mapboxgl-popup-anchor-bottom-left::after,
.mapboxgl-popup-anchor-bottom::after,
.mapboxgl-popup-anchor-bottom-right::after,
.mapboxgl-popup-anchor-top-left::after,
.mapboxgl-popup-anchor-top::after,
.mapboxgl-popup-anchor-top-right::after {
  background: var(--map-popup-background-color);
  clip-path: polygon(calc(100% - 0px) 0, calc(100% - 2px) 0, calc(50% - 0px) calc(100% - 2px), 2px 0);
}


/* Map
.mapboxgl-popup-content *//* Mirrors .popup-container in main.css */ /*{
    border-radius: 0.5rem;
    background-color: #EEEFFC;
    box-shadow: 0 4px 5px rgba(0,0,0,.25);
    padding: 0.75rem;
}*/

.mapboxgl-popup-content {
    all: unset;
    background: none;
    padding-bottom: 1rem;
    pointer-events: auto;
    position: relative;
}