body {
    margin: 0;
    padding: 0;
}

#app-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

#map-container {
    position: relative;
    flex: 1;
    display: flex;
}

.mapboxgl-map {
    font: 500 14px Rajdhani,Arial,sans-serif
}

#earth-ranger-logo {
    position: absolute;
    padding: 10px 15px 10px 15px;
    top: 0;
    z-index: 1;
}

#earth-ranger-logo:hover {
    cursor: pointer;
}

#reset {
    z-index: 1;
    top: 90px;
    left: 10px;
    position: absolute;
    color: white;
}

#reset:hover {
    cursor: pointer;
}

@media screen {
    .mapboxgl-ctrl-attrib.mapboxgl-compact-show .mapboxgl-ctrl-attrib-button {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    margin-bottom: 6px;
}

a.mapboxgl-ctrl-logo.mapboxgl-compact {
    width: 4.58vw !important;
}

/* Popup Styling */

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-bottom-color: #333;
    display: none;
}
/* Map
.mapboxgl-popup-content *//* Mirrors .popup-container in main.css */ /*{
    border-radius: 0.5rem;
    background-color: #EEEFFC;
    box-shadow: 0 4px 5px rgba(0,0,0,.25);
    padding: 0.75rem;
}*/

.mapboxgl-popup-content {
    all: unset;
    background: none;
    padding-bottom: 1rem;
    pointer-events: auto;
    position: relative;
}