.popUp {
    composes: container from "@shared/Dialog.module.css";
    width: max-content;
}

.popUpHeaderContainer {
    composes: headerContainer from "@shared/Dialog.module.css";
}

.popUpHeading {
    composes: headerText from "@shared/Dialog.module.css";
}

.popUpBody {
    composes: contentContainer from "@shared/Dialog.module.css";
}

.popUpBodyContent {
    composes: content from "@shared/Dialog.module.css";
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:global(#gw-map) h3:global(.map-heading) {
    margin-bottom: 0.25rem;
}

:global(#gw-map) :global(p.map-body).statusMessage {
    font-size: var(--map-small-body-font-size);
}