#loader-page {
    z-index: 999 !important;
}

IonContent {
    background: var(--ion-background-color);
}
ion-spinner {
    width: 5vw;
    height: 5vw;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /* ✅ Semi-transparent effect */
    transition: opacity 0.3s ease-in-out;
}

.ion-content.loading {
    pointer-events: none; /* ✅ Prevents users from interacting with old content */
}
