/* POWERED BY */
#powered-by-container {
    position: relative;
    box-shadow: 0px -6px 0px 0px rgb(188, 16, 56);
    -webkit-box-shadow: 0px -6px 0px 0px rgb(188, 16, 56);
    -moz-box-shadow: 0px -6px 0px 0px rgba(188, 16, 56, 1);
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ffffff;
}

#powered-by-heading {
    background: #BC1038;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0 2rem;
    position: absolute;
    top: -16px;
    transform: translateX(-50%);
    left: 50%;
}

#powered-by-container h3 {
    margin: 0;
    font-family: zeitung-pro-variable, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

#powered-by-container--inner {
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    align-items: center;
    margin: 0.5vw 2vw 0;
}

#powered-by-partners {
    background: #ffffff;
    padding-top: 0;
}

.powered-by-partners--container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 0.5fr);
    grid-row-gap: 1.75vw;
    grid-column-gap: 3.5vw;
    justify-items: center;
    align-items: center;
}

.powered-by-logo-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.powered-by-logo {
    display: flex;
    height: 100%;
    flex: 1;
}

a.powered-by-logo img {
    max-width: 100%;
}

p.partner-logo.public {
    font-style: italic;
    text-align: center;
}

.powered-by-logo-container.public-text p {
    font-family: zeitung-pro-variable, Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: #111317;
}

@media screen and (max-width: 900px) {

    p.partner-logo.public {
        margin: 0;
        font-size: 0.75em;
        text-align: center;
        line-height: 1em;
    }

    .powered-by-partners--container {
        grid-row-gap: 1.75vw;
        grid-column-gap: 3.5vw;
    }
}

@media screen and (min-width: 900px) {
    #powered-by-partners {
        display: flex;
        flex-direction: column;
    }

    .powered-by-partners--container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.5vw;
    }
}