/* Container for the whole refresh UI */
.refreshMapContainer {
    composes: mapButtonContainer from './MapButtons.module.css';
    --control-top: 142px;
}

/* The small button that triggers the refresh */


.refreshMapIcon {
    composes: mapButtonIcon from './MapButtons.module.css';
    --icon-background-image: url('../assets/images/button_icons/refresh.svg');
    --icon-background-size: 21px;
}