/* POP-UP STYLING */
.popUp {
    width: clamp(12.5rem, 11.3103rem + 5.2874vw, 24rem);
    overflow: auto;
    border-radius: 0.5rem;
    background-color: #EEEFFC;
    box-shadow: 0 4px 5px rgba(0,0,0,.25);
    border: 0.125rem solid #333;
}

.imageContainer {
    width: 100%;
    height: auto;
    line-height: 0;
    border-bottom: 0.125rem solid #00C49A;
    box-shadow: 0 0 0.25rem #333;
}

.popUpImage {
    width: 100%;
}

.popUpContent {
    padding: 0;
}

.popUpHeader {
    background: var(--ocean-gradient);
    padding: 0.25rem 0 0.625rem 1rem;
}

:global(#gw-map) h2:global(.map-heading).subjectName,
.species {
    color: #fff;
}

.species {
    font-style: italic;
}

.popUpBody {
    padding: 1rem;
}

:global(#gw-map) h3:global(.map-heading).summaryHeading {
    margin-bottom: 0.25rem;
}

.popUpButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.popUpButtonText {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
}

.nameContainer {
    padding: 15px;
}

.popUp>p {
    margin: 1pt;
}

.date {
    font-size: 8pt;
    width: 45%;
    padding-right: 5px;
}

.arrow {
    transform: rotate(180deg);
}

.ulList {
    margin: none;
}

.mapboxgl-popup-close-button {
    display: none;
}