/* POP-UP STYLING */
.popUp {
    width: 200px;
    overflow: auto;
}

.popUpHeader {
    font-size: 15px;
}

.popUpHeader h3 {
    margin: 0 0 5px 0;
}

.popUpImage {
    width: 100%;
}

.popUpButtons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.nameContainer {
    padding: 15px;
}

.viewStoryButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.viewStoryButton p {
    color: #DB580F;
    font-size: 9pt;
    font-weight: bold;
    margin: 0 0 0 0;
}

.viewStoryButton img {
    padding-left: 5px;
}

.hover {
    cursor: pointer !important;
}

.default {
    cursor: default;
}

.popUp>p {
    margin: 1pt;
}

.date {
    font-size: 8pt;
    width: 45%;
    padding-right: 5px;
}

.arrow {
    transform: rotate(180deg);
}

.ulList {
    margin: none;
}

.mapboxgl-popup-close-button {
    display: none;
}