/* POP-UP STYLING */
#pop-up {
    width: 200px;
    overflow: auto;
}

#pop-up-header {
    font-size: 15px;
}

#pop-up-header h3 {
    margin: 0 0 5px 0;
}

.pop-up-image {
    width: 100%;
}

#pop-up-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#name-container {
    padding: 15px;
}

#subject-div {
    border-bottom: solid 1pt rgba(0, 0, 0, .15);
}

#view-story-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#view-story-button p {
    color: #DB580F;
    font-size: 9pt;
    font-weight: bold;
    margin: 0 0 0 0;
}

#view-story-button img {
    padding-left: 5px;
}

.hover {
    cursor: pointer !important;
}

.default {
    cursor: default;
}

#pop-up>p {
    margin: 1pt;
}

#date {
    font-size: 8pt;
    width: 45%;
    padding-right: 5px;
}

#arrow {
    transform: rotate(180deg);
}

#return {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 20px;
    background-color: whitesmoke;
    border-bottom: solid 1pt rgba(0, 0, 0, .15);
}

#return p {
    font-size: 14px;
    ;
    padding-left: 10px;
}

.sub-image {
    width: 100%;
}

#sub-content {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#ul-list {
    margin: none;
}

.mapboxgl-popup-close-button {
    display: none;
}

.bold {
    font-weight: bold;
}