button.iconButton {
    all: unset;
    line-height: 0;
    cursor: pointer
}

.iconButton img {
    transition: opacity linear var(--hover-transition-duration);
    pointer-events: none;
    user-select: none;
}

.iconButton:hover img {
    opacity: 0.5;
}