button.iconButton {
    all: unset;
    line-height: 0;
    cursor: pointer
}

.iconButton img,
.iconButton .iconSvg {
    transition: opacity linear var(--hover-transition-duration);
    pointer-events: none;
    user-select: none;
}

.iconButton:hover img,
.iconButton:hover .iconSvg {
    opacity: 0.5;
}

.trackIconSvg {
    color: var(--default-icon-color);
}

.trackIconSvg :where(path, rect) {
    stroke: currentColor !important;
}

.trackIconSvg :where(path, circle) {
    fill: currentColor !important;
}

.iconButton[data-active="true"] .trackIconSvg {
    color: var(--active-icon-color);
}

.tipIconSvg :where(path, rect, circle) {
    stroke: currentColor !important;
}

.tipIconSvg :where(path) {
    fill: currentColor !important;
}