button.iconButton {
    all: unset;
    line-height: 0;
    cursor: pointer
}

.iconTextContainer:hover .iconButton .iconSvg,
.iconButton:hover:not(.iconTextContainer .iconButton:hover) .iconSvg {
    filter: drop-shadow(var(--map-popup-box-shadow));
}

.iconColorDefault {
    color: var(--default-icon-color);
}

.iconColorLight {
    color: var(--light-icon-color);
}

.iconColorDark {
    color: var(--dark-icon-color);
}

.trackIconSvg,
.locButtonSvg,
.tipIconSvg {
    color: var(--default-icon-color);
}

.trackIconSvg :where(path, rect),
.locButtonSvg :where(path, rect) {
    stroke: currentColor !important;
}

.trackIconSvg :where(path, circle),
.locButtonSvg :where(path, circle) {
    fill: currentColor !important;
}

.iconButton[data-active="true"] .trackIconSvg {
    color: var(--active-icon-color);
}

.tipIconSvg :where(path, rect, circle) {
    stroke: currentColor !important;
}

.tipIconSvg :where(path) {
    fill: currentColor !important;
}