.modalOverlay {
  position: absolute;
  inset: 0px;
  z-index: 1000;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.8);
}

.modalDialog {
  composes: container from '../shared/Dialog.module.css';
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  width: min(75vw, clamp(320px, 90vw, 420px));
  z-index: 1001;
}

.modalHeader {
    composes: headerContainer from '../shared/Dialog.module.css';
}

.modalTitle {
    composes: headerText from '../shared/Dialog.module.css';
}

.closeButton {
    composes: closeButton from '../shared/Dialog.module.css';
}

.modalBody {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  composes: contentContainer from '../shared/Dialog.module.css';
}

.modalBodyContent {
    composes: content from '../shared/Dialog.module.css';
}

.modalCloseTextButton {
    color: var(--map-accent-color-dark) !important;
}