body {
  margin: 0;
  padding: 0;
}

#app-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

#map-container {
  position: relative;
  flex: 1;
}

#earth-ranger-logo {
  /* Should this be fixed or not */
  /* height: 45px; */
  position: absolute;
  padding: 10px 15px 10px 15px;
  top: 0;
  z-index: 1;
}

#earth-ranger-logo:hover {
  cursor: pointer;
}

#reset {
  z-index: 1;
  top: 90px;
  left: 10px;
  position: absolute;
  color: white;
}

#reset:hover { cursor: pointer; }

/* LEGEND CSS */
#legend {
  z-index: 1;
  right: 0;
  position: absolute;
}

.name {
  height: 0px;
  margin: 0px;
}

.namePopup {
  background-color: white;
  border-radius: 4px;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  margin-bottom: 6px;
}